tweepy==3.5.0
pandas==0.20.3
jsonschema==2.6.0
pymongo==3.4.0
Flask==0.12.2
Flask-Login==0.3.2
Flask-PyMongo==0.5.1
Jinja2==2.9.6
Werkzeug==0.12.2
Flask-Stormpath==0.4.8
Flask-WTF==0.14.2
certifi==2017.4.17
chardet==3.0.3
requests==2.16.4
requests-oauthlib==0.8.0